<%= form_with(model: @menu, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :rest_id %>

    <%= f.collection_select :rest_id, Restaurant.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :dish_id, value: @dish.id %>

  <%= f.submit "Create menu", class: "btn btn-block btn-outline-secondary" %>
<% end %>
