<% was_validated = dish.errors.any? %>

<%= form_with(model: dish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% meal_class = "form-control" %>
    <% meal_was_invalid = dish.errors.include?(:meal) %>

    <% if was_validated %>
      <% if meal_was_invalid %>
        <% meal_class << " is-invalid" %>
      <% else %>
        <% meal_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :meal_id %>
    <%= f.collection_select :meal_id, MealType.all, :id, :to_s, {}, class: "form-control" %>
    <% if meal_was_invalid %>
      <% dish.errors.full_messages_for(:meal).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
