<%= form_with(model: @menu, local: true) do |f| %>

  <%= f.hidden_field :rest_id, value: @restaurant.id %>

  <div class="form-group">
    <%= f.label :dish_id %>

    <%= f.collection_select :dish_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create menu", class: "btn btn-block btn-outline-secondary" %>
<% end %>
